<%= form_for(@circolare) do |f| %>
  <% if @circolare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circolare.errors.count, "error") %> prohibited this circolare from being saved:</h2>

      <ul>
      <% @circolare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :"data di emissione" %><br>
    <%= f.date_select :dataemissione , order: [:day, :month, :year], :use_month_names => ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Gugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre','Dicembre'], start_year: Date.today.year, end_year: Date.today.year - 100 %>
  </div>
  <div class="field">
    <%= f.label :Titolo %><br>
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label :Oggetto %><br>
    <%= f.text_area :oggetto %>
  </div>
  <div class="actions">
    <%= f.submit "Invio", :class => 'button', :style=>'background:#FFE0B2'%>
  </div>
<% end %>
