<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menuAl</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background:#FFA726;">
    <div class="col-md-12">
        <h1> </h1>
    </div>
    <div class="col-md-12">
        <h1 style="text-align:center;">Menu </h1>
        <h1> </h1>
    </div>
    <div class="col-md-12" style="text-align:center;">
		<%= link_to "<button class='btn btn-default btn-lg', style='background:#FFE0B2;font-size:x-large;height:30px;width:400px;'>Compiti in classe</button>".html_safe, compiti_path, :style=>"color:black" %>
        <h3> </h3>
    </div>
    <div class="col-md-12" style="text-align:center;">		
        <%= link_to "<button class='btn btn-default btn-lg', style='background:#FFE0B2;font-size:x-large;height:30px;width:400px;'>Attività extrascolastiche</button>".html_safe, attivitaextras_path, :style=>"color:black" %>
        <h3> </h3>
    </div>
    <div class="col-md-12" style="text-align:center;">
         <%= link_to "<button class='btn btn-default btn-lg', style='background:#FFE0B2;font-size:x-large;height:30px;width:400px;'>Inserisci voto</button>".html_safe, voti_path, :style=>"color:black" %>
        <h3> </h3>
    </div>
    <div class="col-md-12" style="text-align:center;">
		<%= link_to "<button class='btn btn-default btn-lg', style='background:#FFE0B2;font-size:x-large;height:30px;width:400px;'>Visualizza circolari</button>".html_safe, circolari_path, :style=>"color:black" %>
		<h3> </h3>
    </div>

	<div class="col-md-12" style="text-align:center;">
		<%= link_to "<button class='btn btn-default btn-lg', style='background:#FFE0B2;font-size:x-large;height:30px;width:400px;'>Inserisci nota</button>".html_safe, notedisciplinari_path, :style=>"color:black" %>
		<h3> </h3>
    </div>

	<div class="col-md-12" style="text-align:center;">
		<%= link_to "<button class='btn btn-default btn-lg', style='background:#FFE0B2;font-size:x-large;height:30px;width:400px;'>Elenco sezioni</button>".html_safe, sezioni_path, :style=>"color:black" %>
		<h3> </h3>
    </div>


    <div class="col-md-12" style="text-align:center;">
		<%= link_to "<button class='btn btn-default btn-lg', style='background:#FFE0B2;font-size:x-large;height:30px;width:400px;'>Visualizza profilo</button>".html_safe, docenza_path(current_user.id), :style=>"color:black" %>
        <h1> </h1>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>


