<h1>Menu docente</h1>
<h3><%= link_to 'Compiti in classe', compiti_path %></h3>
<h3><%= link_to 'Attività extrascolastiche', attivitaextras_path %></h3>
<h3><%= link_to 'Inserisci voto', voti_path %></h3>
<h3><%= link_to 'Inserisci nota', notedisciplinari_path %></h3>
<h3><%= link_to 'Visualizza circolari', circolari_path %></h3>
<h3><%= link_to 'Elenco sezioni', sezioni_path %></h3>
<h3><%= link_to 'Visualizza profilo', docenza_path(current_user.id) %></h3>



