<p id="notice"><%= notice %></p>

<p>
  <strong>Cf:</strong>
  <%= @docenza.cf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @docenza.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @docenza.cognome %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @docenza.indirizzo %>
</p>

<p>
  <strong>Cittaresidenza:</strong>
  <%= @docenza.cittaresidenza %>
</p>

<p>
  <strong>Cittanascita:</strong>
  <%= @docenza.cittanascita %>
</p>

<p>
  <strong>Datanascita:</strong>
  <%= @docenza.datanascita %>
</p>

<p>
  <strong>Curriculum:</strong>
  <a href="<%= @docenza.curriculum %>">Link al curriculum</a>
</p>

<p>
  <strong>Email:</strong>
  <%= @docenza.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @docenza.password %>
</p>


<% if docenzalogged_in? %>
  <%= link_to 'Edit', edit_docenza_path(@docenza) %> |
  <%= link_to 'Logout', logoutdocenza_path %>
<% else %>
  <%= link_to 'Login', logindocenza_path %>
<% end %>
