<p id="notice"><%= notice %></p>

<h1>Listing Docenza Sezione Materie</h1>

<table>
  <thead>
    <tr>
      <th colspan="2">Docente</th>
      <th>Materia</th>
    </tr>
  </thead>

  <tbody>
    <% @docenza_sezione_materie.each do |docenza_sezione_materia| %>
      <tr>
        <td><%= Docenza.find(docenza_sezione_materia.docenza_id).cognome %></td>
        <td><%= Docenza.find(docenza_sezione_materia.docenza_id).nome %></td>
        <td><%= Materia.find(docenza_sezione_materia.materia_id).nome %></td>
        <td><%= link_to 'Destroy', docenza_sezione_materia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi insegnamento', nuovoinsegnamento_path(:sezione_id => @id_sez) %>
