<%= form_for(@notadisciplinare) do |f| %>
  <% if @notadisciplinare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notadisciplinare.errors.count, "error") %> prohibited this notadisciplinare from being saved:</h2>

      <ul>
      <% @notadisciplinare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data , order: [:day, :month, :year], :use_month_names => ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Gugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre','Dicembre'], start_year: Date.today.year, end_year: Date.today.year - 10 %>
  </div>
  <div class="field">
    <%= f.label :oggetto %><br>
    <%= f.text_area :oggetto %>
  </div>
  <div class="field">
    <%= f.label :alunno %><br>
    <%= f.grouped_collection_select :alunno_id, Sezione.order("numero, lettera"), :alunni, :to_label, :id, :to_label, include_blank: false %>
  </div>
  <div class="field">
    <%= f.hidden_field :docenza_id, :value => current_user.id %>
  </div>
   <div class="actions">
    <%= f.submit "Invio", :class => 'button', :style=>'background:#FFE0B2'%>
  </div>
<% end %>
