<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>


<p id="notice"><%= notice %></p>

<body style="background:#FFA726;">
    <div class="col-md-12" style="text-align:center;">
        <h1> Lista Note Disciplinari</h1></div>
    <div class="col-md-12">
        <div class="table-responsive", align="center">
			<table class="table", style="border-collapse:collapse;">

<thead>
    <tr>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
						<span>Data</span>
		</th>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
						<span>Oggetto</span>
		</th>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
						<span>Alunno</span>
		</th>
		<th colspan="2", style="text-align:center;border:1px solid #ddd;padding:8px;">
						<span>Docente</span>
		</th>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
						<span>Mostra</span>
		</th>
		 <% if session[:role] == 'docenza' && userlogged_in? %>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
						<span>Modifica</span>
		</th>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
						<span>Elimina</span>
		</th>
		<% end %>

				 
      
    </tr>
  </thead>

  <tbody>
    <% @notedisciplinari.each do |notadisciplinare| %>
      <tr>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= notadisciplinare.data %></td>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= notadisciplinare.oggetto %></td>
	<td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Alunno.find(notadisciplinare.alunno_id).to_label %></td>
        <% if Docenza.exists?(notadisciplinare.docenza_id) %>
	<td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Docenza.find(notadisciplinare.docenza_id).cognome %></td>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Docenza.find(notadisciplinare.docenza_id).nome %></td>
        <%else%>
	<td style="text-align:center;border:1px solid #ddd;padding:8px;", colspan="2">Utente non più in archivio</td>
	<%end%>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= link_to 'Show', notadisciplinare , :style=>"color:black"%></td>
        <% if session[:role] == 'docenza' && userlogged_in? %>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= link_to 'Edit', edit_notadisciplinare_path(notadisciplinare), :style=>"color:black" %></td>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= link_to 'Destroy', notadisciplinare, method: :delete, data: { confirm: 'Sei Sicuro?' } , :style=>"color:black" %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:role] == 'docenza' && userlogged_in? %>
<%= link_to 'Aggiungi Nota Disciplinare', new_notadisciplinare_path %>
<% end %>

        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
