<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @notadisciplinare.data %>
</p>

<p>
  <strong>Oggetto:</strong>
  <%= @notadisciplinare.oggetto %>
</p>

<p>
  <strong>Alunno:</strong>
  <%= Alunno.find(@notadisciplinare.alunno_id).to_label %>
</p>

<p>
  <strong>Docente:</strong>
  <%= Docenza.find(@notadisciplinare.docenza_id).cognome %>
  <%= Docenza.find(@notadisciplinare.docenza_id).nome %>
</p>

<%= link_to 'Edit', edit_notadisciplinare_path(@notadisciplinare) %> |
<%= link_to 'Back', notedisciplinari_path %>
