<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @notadisciplinare.data %>
</p>

<p>
  <strong>Oggetto:</strong>
  <%= @notadisciplinare.oggetto %>
</p>

<%= link_to 'Edit', edit_notadisciplinare_path(@notadisciplinare) %> |
<%= link_to 'Back', notedisciplinari_path %>
