<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Voti</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<p id="notice"><%= notice %></p>

<body style="background:#FFA726;">
    <div class="col-md-12" style="text-align:center;">
        <h1> Elenco dei Voti</h1></div>
    <div class="col-md-12">
        <div class="table-responsive", align="center">
			<table class="table", style="border-collapse:collapse;">

<thead>
    <tr>
	 <th  style="text-align:center;border:1px solid #ddd;padding:8px;">
		<span>Data</span>
	 </th>
	<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
		<span>Alunno</span>
	</th>					      
	<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
		<span>Sezione</span>
	</th>
	<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
		<span>Materia</span>
	</th>
	<th  colspan="2", style="text-align:center;border:1px solid #ddd;padding:8px;">
		<span>Docente</span>
	</th>
    <th  style="text-align:center;border:1px solid #ddd;padding:8px;">
		<span>Voto</span>
	</th>
	<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
		<span>Mostra</span>
	</th>
	 <% if session[:role] == 'docenza' && userlogged_in?%>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
			<span>Modifica</span>
		</th>
		<th  style="text-align:center;border:1px solid #ddd;padding:8px;">
			<span>Elimina</span>
		</th>
			<%end%>
					  
					  
			 </tr>
  </thead>

  <tbody>
    <% @voti.each do |voto| %>
      <tr>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= voto.data %></td>
	    <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Alunno.find(voto.alunno_id).to_label %></td>
        <%if Sezione.exists?(Alunno.find(voto.alunno_id).sezione_id) %>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Sezione.find(Alunno.find(voto.alunno_id).sezione_id).to_label %></td>
        <% else %>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"></td>
	<% end %>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Materia.find(voto.materia_id).nome %></td>
	<% if Docenza.exists?(voto.docenza_id) %>
	<td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Docenza.find(voto.docenza_id).cognome %></td>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= Docenza.find(voto.docenza_id).nome %></td>
	<%else%>
	<td colspan="2">Utente non più in archivio</td>
	<%end%>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= voto.valore %></td>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= link_to 'Show', voto %></td>
	<% if session[:role] == 'docenza' && userlogged_in? %>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= link_to 'Edit', edit_voto_path(voto) %></td>
        <td style="text-align:center;border:1px solid #ddd;padding:8px;"><%= link_to 'Destroy', voto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:role] == 'docenza' && userlogged_in? %>
<%= link_to 'Inserisci Voto', new_voto_path %>
<%end%>


<br> <br> <br>
<% if params["alunno_id"] != nil %>
<br> <br> <br>
<%= voti_stat %>
<%end%>


        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

