<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @voto.data %>
</p>

<p>
  <strong>Sezione:</strong>
  <%= Sezione.find(Alunno.find(@voto.alunno_id).sezione_id).to_label %>
</p>

<p>
  <strong>Alunno:</strong>
    <%= Alunno.find(@voto.alunno_id).to_label %>
</p>

<p>
  <strong>Materia:</strong>
  <%= Materia.find(@voto.materia_id).nome %>
</p>

<p>
  <strong>Docente:</strong>
  <%= Docenza.find(@voto.docenza_id).cognome %>
  <%= Docenza.find(@voto.docenza_id).nome %>
</p>

<p>
  <strong>Valore:</strong>
  <%= @voto.valore %>
</p>

<%= link_to 'Edit', edit_voto_path(@voto) %> |
<%= link_to 'Back', voti_path %>
