<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @voto.data %>
</p>

<p>
  <strong>Sezione:</strong>
  <%if Sezione.exists?(Alunno.find(@voto.alunno_id).sezione_id) %>
  <%= Sezione.find(Alunno.find(@voto.alunno_id).sezione_id).to_label %>
  <%end%>
</p>

<p>
  <strong>Alunno:</strong>
    <%= Alunno.find(@voto.alunno_id).to_label %>
</p>

<p>
  <strong>Materia:</strong>
  <%= Materia.find(@voto.materia_id).nome %>
</p>

<p>
  <strong>Docente:</strong>
  <% if Docenza.exists?(@voto.docenza_id) %>
  <%= Docenza.find(@voto.docenza_id).cognome %>
  <%= Docenza.find(@voto.docenza_id).nome %>
  <%else%>
  Utente non più in archivio
  <%end%>
</p>

<p>
  <strong>Valore:</strong>
  <%= @voto.valore %>
</p>

<% if session[:role] == 'docenza' && userlogged_in? %>
<%= link_to 'Edit', edit_voto_path(@voto) %> |
<%end%>
<%= link_to 'Back', voti_path %>
