<p id="notice"><%= notice %></p>

<h1>Listing Alunno Attivitaextras</h1>

<table>
  <thead>
    <tr>
      <th>Alunno</th>
      <th>Attivitaextra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alunno_attivitaextras.each do |alunno_attivitaextra| %>
      <tr>
        <td><%= alunno_attivitaextra.alunno_id %></td>
        <td><%= alunno_attivitaextra.attivitaextra_id %></td>
        <td><%= link_to 'Show', alunno_attivitaextra %></td>
        <td><%= link_to 'Edit', edit_alunno_attivitaextra_path(alunno_attivitaextra) %></td>
        <td><%= link_to 'Destroy', alunno_attivitaextra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alunno attivitaextra', new_alunno_attivitaextra_path %>
