<p id="notice"><%= notice %></p>

<p>
  <strong>Alunno:</strong>
  <%= @alunno_attivitaextra.alunno_id %>
</p>

<p>
  <strong>Attivitaextra:</strong>
  <%= @alunno_attivitaextra.attivitaextra_id %>
</p>


<%= link_to 'Edit', edit_alunno_attivitaextra_path(@alunno_attivitaextra) %> |
<%= link_to 'Back', alunno_attivitaextras_path %>
