<%= form_for(@sezione) do |f| %>
  <% if @sezione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sezione.errors.count, "error") %> prohibited this sezione from being saved:</h2>

      <ul>
      <% @sezione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Lettera %><br>
    <%= f.text_field :lettera %>
  </div>
  <div class="field">
    <%= f.label :Numero %><br>
    <%= f.number_field :numero %>
  </div>
   <div class="actions">
    <%= f.submit "Invio", :class => 'button', :style=>'background:#FFE0B2'%>
  </div>
<% end %>
