<p id="notice"><%= notice %></p>

<h1>Listing Sezioni</h1>

<table>
  <thead>
    <tr>
      <th>Lettera</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sezioni.each do |sezione| %>
      <tr>
        <td><%= sezione.lettera %></td>
        <td><%= sezione.numero %></td>
        <td><%= link_to 'Show', sezione %></td>
        <td><%= link_to 'Edit', edit_sezione_path(sezione) %></td>
        <td><%= link_to 'Destroy', sezione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sezione', new_sezione_path %>
