<p id="notice"><%= notice %></p>

<p>
  <strong>Lettera:</strong>
  <%= @sezione.lettera %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @sezione.numero %>
</p>

<p>
  <strong>Elenco alunni:</strong>
  <%= link_to 'Visualizza elenco alunni', elenco_path(:sezione_id => @sezione.id) %>
</p>

<%= link_to 'Edit', edit_sezione_path(@sezione) %> |
<%= link_to 'Back', sezioni_path %>
