<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostra Compito</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background:#FFA726;">
    <div class="col-md-12", align="center">
        <p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @compito.data %>
</p>

<p>
  <strong>Oggetto:</strong>
  <%= @compito.oggetto %>
</p>

<p>
  <strong>Sezione:</strong>
  <%= Sezione.find(@compito.sezione_id).to_label %>
</p>

<p>
  <strong>Materia:</strong>
  <%= Materia.find(@compito.materia_id).nome %>
</p>

<p>
  <strong>Docente:</strong>
  <%= Docenza.find(@compito.docenza_id).cognome %>
  <%= Docenza.find(@compito.docenza_id).nome %>
</p>

<% if session[:role] == 'docenza' && userlogged_in? %>
<%= link_to 'Edit', edit_compito_path(@compito) %> |
<%end%>
<%= link_to 'Back', compiti_path %>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
