<%= form_for(@amministrazione) do |f| %>
  <% if @amministrazione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amministrazione.errors.count, "error") %> prohibited this amministrazione from being saved:</h2>

      <ul>
      <% @amministrazione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if session[:role] == 'amministrazione' || session[:role]==nil %>
  <h2>Inserire dati per la registrazione:</h2>

  <div class="field">
    <%= f.label :"email" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :"conferma Password" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
<% end %>

  <h2>Inserire dati personali:</h2>

  <div class="field">
    <%= f.label :"c"%><%= f.label :"f"%><br>
    <%= f.text_field :cf %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cognome %><br>
    <%= f.text_field :cognome %>
  </div>
  <div class="field">
    <%= f.label :indirizzo %><br>
    <%= f.text_field :indirizzo %>
  </div>
  <div class="field">
    <%= f.label :"città di residenza" %><br>
    <%= f.text_field :cittaresidenza %>
  </div>
  <div class="field">
    <%= f.label :"città di nascita" %><br>
    <%= f.text_field :cittanascita %>
  </div>
  <div class="field">
    <%= f.label :"data di nascita" %><br>
    <%= f.date_select :datanascita , order: [:day, :month, :year], :use_month_names => ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Gugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre','Dicembre'], start_year: Date.today.year, end_year: Date.today.year - 100 %>
  </div>
  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit "Invio", :class => 'button', :style=>'background:#FFE0B2'%>
  </div>
<% end %>
