<p id="notice"><%= notice %></p>

<h1>Listing Amministrazioni</h1>

<table>
  <thead>
    <tr>
      <th>Cf</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Indirizzo</th>
      <th>Cittaresidenza</th>
      <th>Cittanascita</th>
      <th>Datanascita</th>
      <th>Email</th>
      <th>Titolo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amministrazioni.each do |amministrazione| %>
      <tr>
        <td><%= amministrazione.cf %></td>
        <td><%= amministrazione.nome %></td>
        <td><%= amministrazione.cognome %></td>
        <td><%= amministrazione.indirizzo %></td>
        <td><%= amministrazione.cittaresidenza %></td>
        <td><%= amministrazione.cittanascita %></td>
        <td><%= amministrazione.datanascita %></td>
        <td><%= amministrazione.email %></td>
        <td><%= amministrazione.titolo %></td>
        <td><%= link_to 'Show', amministrazione %></td>
        <% if session[:role] == 'amministrazione' && userlogged_in? %>
        <td><%= link_to 'Edit', edit_amministrazione_path(amministrazione) %></td>
        <td><%= link_to 'Destroy', amministrazione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
