<h1>Menu amministrazione</h1>
<h3><%= link_to 'Elenco sezioni', sezioni_path %></h3>
<h3><%= link_to 'Assenze', assenze_path %></h3>
<h3><%= link_to 'Visualizza docenti', docenze_path %></h3>
<h3><%= link_to 'Visualizza circolari', circolari_path %></h3>
<h3><%= link_to "Corsi d'insegnamento", materie_path %></h3>
<h3><%= link_to 'Visualizza profilo', amministrazione_path(current_user.id) %></h3>



