<%= form do |f| %>
  <h1>Nuovo insegnamento per la sezione sezione.numero sezione.lettera</h1>

	<div class="field">
	  <%= f.label :matera_id %><br>
	  <%= f.select :materia_id, Materia.all.collect { |p| [ "%s" % [p.nome] , p.id ] }, include_blank: false %>
	</div>

	<div class="field">
	  <%= f.label :docenza_id %><br>
		<%= f.select :docenza_id, Docenza.all.collect { |p| [ "%s %s" % [p.cognome, p.nome] , p.id ] }, include_blank: false %>
	</div>


  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


