<p id="notice"><%= notice %></p>

<p>
  <strong>Cf:</strong>
  <%= @amministrazione.cf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @amministrazione.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @amministrazione.cognome %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @amministrazione.indirizzo %>
</p>

<p>
  <strong>Cittaresidenza:</strong>
  <%= @amministrazione.cittaresidenza %>
</p>

<p>
  <strong>Cittanascita:</strong>
  <%= @amministrazione.cittanascita %>
</p>

<p>
  <strong>Datanascita:</strong>
  <%= @amministrazione.datanascita %>
</p>

<p>
  <strong>Email:</strong>
  <%= @amministrazione.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @amministrazione.password %>
</p>

<p>
  <strong>Titolo:</strong>
  <%= @amministrazione.titolo %>
</p>

<%= link_to 'Edit', edit_amministrazione_path(@amministrazione) %> |
<%= link_to 'Back', amministrazioni_path %>
