<!DOCTYPE html>
<html>
<body style="background:#FFA726;">
<p id="notice"><%= notice %></p>

<p>
  <h1 style="text-align:center;">Dati Registrati </h1>
  <h2>Dati Personali </h2>
  <strong>CF:</strong>
  <%= @amministrazione.cf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @amministrazione.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @amministrazione.cognome %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @amministrazione.indirizzo %>
</p>

<p>
  <strong>Città di residenza:</strong>
  <%= @amministrazione.cittaresidenza %>
</p>

<p>
  <strong>Città di nascita:</strong>
  <%= @amministrazione.cittanascita %>
</p>

<p>
  <strong>Data di nascita:</strong>
  <%= @amministrazione.datanascita %>
</p>

<p>
  <h2>Dati Registrazione </h2>
  <strong>Email:</strong>
  <%= @amministrazione.email %>
</p>

<p>
  <strong>Password: *********</strong>
  <%= @amministrazione.password %>
</p>

<p>
  <strong>Titolo:</strong>
  <%= @amministrazione.titolo %>
</p>


<% if session[:role] == 'amministrazione' && userlogged_in? %>
  <%= link_to 'Edit', edit_amministrazione_path(@amministrazione) %>
  <%= link_to 'Destroy', @amministrazione, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <%= link_to 'Login', loginamministrazione_path %>
<% end %>
