<%= form_for(@attivitaextra) do |f| %>
  <% if @attivitaextra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attivitaextra.errors.count, "error") %> prohibited this attivitaextra from being saved:</h2>

      <ul>
      <% @attivitaextra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_area :descrizione %>
  </div>
  <div class="field">
    <%= f.label :datainizio %><br>
    <%= f.date_select :datainizio %>
  </div>
  <div class="field">
    <%= f.label :datafine %><br>
    <%= f.date_select :datafine %>
  </div>
  <div class="field">
    <%= f.label :luogo %><br>
    <%= f.text_field :luogo %>
  </div>
  <div class="field">
    <%= f.label :orainizio %><br>
    <%= f.time_select :orainizio %>
  </div>
  <div class="field">
    <%= f.label :orafine %><br>
    <%= f.time_select :orafine %>
  </div>
  <div class="field">
    <%= f.label :sezione_id %><br>
    <%= f.select :sezione_id, Sezione.all.collect { |p| [p.to_label , p.id ] }, include_blank: false %>
  </div>
  <div class="field">
    <%= f.hidden_field :docenza_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
