<p id="notice"><%= notice %></p>

<h1>Listing Attivitaextras</h1>

<table>
  <thead>
    <tr>
      <th>Descrizione</th>
      <th>Datainizio</th>
      <th>Datafine</th>
      <th>Luogo</th>
      <th>Orainizio</th>
      <th>Orafine</th>
      <th colspan="2">Organizzatore</th>
      <th>Partecipanti</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attivitaextras.each do |attivitaextra| %>
      <tr>
        <td><%= attivitaextra.descrizione %></td>
        <td><%= attivitaextra.datainizio %></td>
        <td><%= attivitaextra.datafine %></td>
        <td><%= attivitaextra.luogo %></td>
        <td><%= attivitaextra.orainizio %></td>
        <td><%= attivitaextra.orafine %></td>
        <td><%= Docenza.find(attivitaextra.docenza_id).cognome %></td>
        <td><%= Docenza.find(attivitaextra.docenza_id).nome %></td>
        <td><%= link_to 'Visualizza partecipanti', alunni_path %></td>
        <td><%= link_to 'Show', attivitaextra %></td>
        <td><%= link_to 'Edit', edit_attivitaextra_path(attivitaextra) %></td>
        <td><%= link_to 'Destroy', attivitaextra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attivitaextra', new_attivitaextra_path %>
