<p id="notice"><%= notice %></p>

<p>
  <strong>Descrizione:</strong>
  <%= @attivitaextra.descrizione %>
</p>

<p>
  <strong>Datainizio:</strong>
  <%= @attivitaextra.datainizio %>
</p>

<p>
  <strong>Datafine:</strong>
  <%= @attivitaextra.datafine %>
</p>

<p>
  <strong>Luogo:</strong>
  <%= @attivitaextra.luogo %>
</p>

<p>
  <strong>Orainizio:</strong>
  <%= @attivitaextra.orainizio %>
</p>

<p>
  <strong>Orafine:</strong>
  <%= @attivitaextra.orafine %>
</p>

<%= link_to 'Edit', edit_attivitaextra_path(@attivitaextra) %> |
<%= link_to 'Back', attivitaextras_path %>
