<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostra Attività</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body style="background:#FFA726;">
    <div class="col-md-12", align="center">
        <p id="notice"><%= notice %></p>


<p>
  <strong>Descrizione:</strong>
  <%= @attivitaextra.descrizione %>
</p>

<p>
  <strong>Datainizio:</strong>
  <%= @attivitaextra.datainizio %>
</p>

<p>
  <strong>Datafine:</strong>
  <%= @attivitaextra.datafine %>
</p>

<p>
  <strong>Luogo:</strong>
  <%= @attivitaextra.luogo %>
</p>

<p>
  <strong>Orainizio:</strong>
  <%= @attivitaextra.orainizio.strftime("%I:%M%P") %>
</p>

<p>
  <strong>Orafine:</strong>
  <%= @attivitaextra.orafine.strftime("%I:%M%P") %>
</p>

<p>
  <strong>Sezione:</strong>
  <%= Sezione.find(@attivitaextra.sezione_id).to_label %>
</p>

<p>
  <strong>Organizzatore:</strong>
  <%= Docenza.find(@attivitaextra.docenza_id).cognome %>
  <%= Docenza.find(@attivitaextra.docenza_id).nome %>
</p>

<% if session[:role] == "alunno" && userlogged_in? %>
<p>
  <%if AlunnoAttivitaextra.where(alunno_id = current_user.id && attivitaextra_id = @attivitaextra.id).exists? == false %>
    <%= button_to 'Partecipa', new_alunno_attivitaextra_path(@attivitaextra) %>
  <%else%>
    <%= button_to 'Non partecipare', AlunnoAttivitaextra.where(alunno_id = current_user.id && attivitaextra_id = @attivitaextra.id).take, method: :delete, data: { confirm: 'Annulla partecipazione?' } %>
  <%end%>
</p> 
<%end%>

<% if session[:role] == 'docenza' && userlogged_in? %>
<%= link_to 'Edit', edit_attivitaextra_path(@attivitaextra) %> |
<% end %>
<%= link_to 'Back', attivitaextras_path, :style=>"color:black" %>

<script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
