<%= form_for(@assenza) do |f| %>
  <% if @assenza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assenza.errors.count, "error") %> prohibited this assenza from being saved:</h2>

      <ul>
      <% @assenza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
        <%= f.date_select :date , order: [:day, :month, :year], :use_month_names => ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Gugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre','Dicembre'], start_year: Date.today.year, end_year: Date.today.year - 10 %>

  </div>

  <div class="field">
    <%= f.label :alunno_id %><br>
    <%= f.grouped_collection_select :alunno_id, Sezione.order("numero, lettera"), :alunni, :to_label, :id, :to_label, include_blank: false %>
  </div>

  <div class="field">
    <%= f.hidden_field :amministrazione_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit "Invio", :class => 'button', :style=>'background:#FFE0B2'%>
  </div>
<% end %>
