<p id="notice"><%= notice %></p>

<h1>Listing Assenze</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Cognome</th>
      <th>Nome</th>
      <th>Cf</th>
      <th>Sezione</th>
      <th colspan="2">Inserito da</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assenze.each do |assenza| %>
      <tr>
        <td><%= assenza.date %></td>
        <td><%= Alunno.find(assenza.alunno_id).cognome %></td>
        <td><%= Alunno.find(assenza.alunno_id).nome %></td>
        <td><%= Alunno.find(assenza.alunno_id).cf %></td>
        <td><%= Sezione.find(Alunno.find(assenza.alunno_id).sezione_id).to_label %></td>
        <%if Amministrazione.exists?(assenza.amministrazione_id) %>
        <td><%= Amministrazione.find(assenza.amministrazione_id).cognome %></td>
        <td><%= Amministrazione.find(assenza.amministrazione_id).nome %></td>
        <%else%>
        <td colspan = "2">Utente non più in archivio</td>
	<%end%>
        <td><%= link_to 'Show', assenza %></td>
        <% if session[:role] == 'amministrazione' && userlogged_in? %>
        <td><%= link_to 'Edit', edit_assenza_path(assenza) %></td>
        <td><%= link_to 'Destroy', assenza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:role] == 'amministrazione' && userlogged_in? %>
<%= link_to 'New Assenza', new_assenza_path %>
<%end%>
