<h1>Menu alunno</h1>
<h3><%= link_to 'Visualizza compiti in classe', compiti_path %></h3>
<h3><%= link_to 'Visualizza attività extrascolastiche', attivitaextras_path %></h3>
<h3><%= link_to 'Visualizza docenti', docenze_path %></h3>
<h3><%= link_to 'Visualizza circolari', circolari_path %></h3>
<h3><%= link_to 'Visualizza assenze', assenze_path %></h3>
<h3><%= link_to 'Visualizza profilo', alunno_path(current_alunno.id) %></h3>



