<p id="notice"><%= notice %></p>

<p>
  <strong>Cf:</strong>
  <%= @alunno.cf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @alunno.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @alunno.cognome %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @alunno.indirizzo %>
</p>

<p>
  <strong>Cittaresidenza:</strong>
  <%= @alunno.cittaresidenza %>
</p>

<p>
  <strong>Cittanascita:</strong>
  <%= @alunno.cittanascita %>
</p>

<p>
  <strong>Datanascita:</strong>
  <%= @alunno.datanascita %>
</p>

<p>
  <strong>Sezione:</strong>
  <% if @sezione != nil %>
   <%= @sezione.numero %>
   <%= @sezione.lettera %>
  <% else %>
   <%= "Non assegnato" %>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alunno.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @alunno.password %>
</p>

<%if session[:role]!="alunno" || current_user.sezione_id != nil %>
<%= link_to 'Visualizza assenze', assenzealunno_path(alunno_id: @alunno.id) %><br>
<%end%>
<%= link_to 'Note Disciplinari', notedisciplinarialunno_path(alunno_id: @alunno.id) %><br>
<%= link_to 'Voti', votialunno_path(alunno_id: @alunno.id) %><br><br>

<% if session[:role] != 'docenza' && userlogged_in? %>
  <%= link_to 'Edit', edit_alunno_path(@alunno) %>
  <%= link_to 'Destroy', @alunno, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <%= link_to 'Login', loginalunno_path %>
<% end %>
