<p id="notice"><%= notice %></p>

<p>
  <strong>Cf:</strong>
  <%= @alunno.cf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @alunno.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @alunno.cognome %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @alunno.indirizzo %>
</p>

<p>
  <strong>Cittaresidenza:</strong>
  <%= @alunno.cittaresidenza %>
</p>

<p>
  <strong>Cittanascita:</strong>
  <%= @alunno.cittanascita %>
</p>

<p>
  <strong>Datanascita:</strong>
  <%= @alunno.datanascita %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alunno.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @alunno.password %>
</p>

<%= link_to 'Edit', edit_alunno_path(@alunno) %> |
<%= link_to 'Back', alunni_path %>
