<!DOCTYPE html>
<html>
<body style="background:#FFA726;">
<p id="notice"><%= notice %></p>

<p>
  <h1 style="text-align:center;">Dati Registrati </h1>
  <h2>Dati Personali </h2>
  <strong>CF:</strong>
  <%= @alunno.cf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @alunno.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @alunno.cognome %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @alunno.indirizzo %>
</p>

<p>
  <strong>Città di residenza:</strong>
  <%= @alunno.cittaresidenza %>
</p>

<p>
  <strong>Città di nascita:</strong>
  <%= @alunno.cittanascita %>
</p>

<p>
  <strong>Data di nascita:</strong>
  <%= @alunno.datanascita %>
</p>

<p>
  <strong>Sezione:</strong>
  <% if @sezione != nil %>
   <%= @sezione.numero %>
   <%= @sezione.lettera %>
  <% else %>
   <%= "Non assegnato" %>
  <% end %>
</p>

<p>
  <h2>Dati Registrazione </h2>
  <strong>Email:</strong>
  <%= @alunno.email %>
</p>

<p>
  <strong>Password: ******</strong>
  <%= @alunno.password %>
</p>


<div>
	<%if session[:role]!="alunno" || current_user.sezione_id != nil %>
		<%= link_to "<button class='btn btn-default', style='background:#FFE0B2;width:150px;'>Visualizza assenze</button>".html_safe, assenzealunno_path(alunno_id: @alunno.id), :style=>"color:black" %>
		<h3> </h3>
	<%end%>

</div>

<div>	
	<%= link_to "<button class='btn btn-default', style='background:#FFE0B2; width:150px;'>Note Disciplinari</button>".html_safe, notedisciplinarialunno_path(alunno_id: @alunno.id), :style=>"color:black" %>
	<h3> </h3>
</div>

<div>
	<%= link_to "<button class='btn btn-default', style='background:#FFE0B2;width:150px;'>Voti</button>".html_safe, votialunno_path(alunno_id: @alunno.id), :style=>"color:black" %>
	<h3> </h3>
</div>

<% if session[:role] != 'docenza' && userlogged_in? %>
  <%= link_to 'Edit', edit_alunno_path(@alunno) %>
  <%= link_to 'Destroy', @alunno, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <%= link_to 'Login', loginalunno_path %>
<% end %>
